


{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css"
      type="text/css">
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<html>
<head>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type='image/x-icon'>
    <title>EPQ Pollution Prediction</title>

    <nav class="navbar navbar-expand-lg navbar-light background">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">EPQ Pollution Prediction</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about/">About</a>
                </li>
            </ul>
        </div>
    </nav>

    {#    <center><img src=/static/logo%201%5B3266%5D.png alt="Pollution Prediction" width="400px" height="auto"></center>#}
</head>


<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="background">
            <div style="text-align: center;"><p>
                This website provides a prediction of future pollution levels in different locations around London.
                These predictions are based upon the <a href="https://www.metoffice.gov.uk/services/data/datapoint">Met Office Datapoint</a> weather forecast for the next 5 days.
                This is achieved using a Neural Network that I have developed as part of my EPQ.
                I have used a Tensorflow Model, trained on data from the MetOffice and from <a href="http://www.londonair.org.uk/Londonair/API/">London Air Quality website</a>
            </p>
            </div>
            <center>
                <select id="location_drop" data-ajax-url="{% url 'pollution' %}">
                    <option value="">Select a location</option>
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="checkbox" id="NO2" name="NO2" value="air quality index NO2" class="air_index">
                <label for="vehicle1"> NO2 (Nitrogen Dioxide)</label><br>
                <input type="checkbox" id="O3" name="O3" value="air quality index O3" class="air_index">
                <label for="vehicle2"> O3 (Ozone)</label><br>
                <input type="checkbox" id="PM10" name="PM10" value="air quality index PM10" class="air_index">
                <label for="vehicle3"> PM10 (Particulate Matter 10µm )</label><br>
                <input type="checkbox" id="PM25" name="PM25" value="air quality index PM25" class="air_index">
                <label for="vehicle3"> PM25 (Particulate Matter 2.5µm)</label><br>
                <input type="checkbox" id="SO2" name="SO2" value="air quality index SO2" class="air_index">
                <label for="vehicle3"> SO2 (Sulphur Dioxide)</label><br>
            </center>


        </div>

    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="background">
            <center>
                <div id="results"></div>
            </center>


        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>
</html>